<p>
  <strong>Sender:</strong>
  <%= message.user.email %>
</p>

<p>
  <strong>Chat ID:</strong>
  <%= message.chat_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= message.body %>
</p>

<% unless current_page?(message_path(message)) %>
  <p>
    <%= link_to "Show this message", message_path(message) %> |
    <%= link_to "Edit", edit_message_path(message) %>
  </p>
<% end %>

<hr>
