<p>
  <strong>Sender:</strong>
  <%= chat.sender.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= chat.receiver.email %>
</p>

<% unless current_page?(chat_path(chat)) %>
  <p>
    <%= link_to "Show this chat", chat_path(chat) %>
    <% if can? :edit, chat %>
      | <%= link_to "Edit", edit_chat_path(chat) %>
    <% end %>
    <% if can? :destroy, chat %>
      <div id="delete-chat-<%= chat.id %>" style="display: inline;">
        | <%= link_to "Delete", "#", onclick: "showConfirm(#{chat.id}); return false;" %>
      </div>
      <div id="confirm-delete-<%= chat.id %>" style="display: none; margin-top: 5px;">
        <%= button_to "Confirm Delete", chat_path(chat), method: :delete, form: { style: "display: inline;" }, data: { turbo: false } %>

        <button type="button" onclick="cancelConfirm(#{chat.id})">Cancel</button>
      </div>
    <% end %>

  </p>
<% end %>


<hr>
